<html>
  <head>
    <title>PdmV ReReco UL - Run3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="pdmv.png" />
    <style>
      body {
        background: #fafafa;
      }
      td, th {
        border: 1px #aaa solid;
        padding: 2px 4px;
        font-size: 0.9em;
        text-align: center;
        white-space: nowrap;
      }
      th {
        text-align: center;
        background: #eee;
      }
      tr {
        height: 30px;
        background: white;
      }
      tr:hover {
        background: #eee !important;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border-collapse: collapse;
      }
      .sort {
        cursor: pointer;
      }
      input {
        width: 98%;
        margin: auto;
        margin-bottom: 2px;
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
      }
      input[type=checkbox] {
        width: unset;
      }
      .sorted-by {
        background: #c8c8c8;
      }
      .orange-cell {
        background: #fae3d2;
      }
      a {
        color: #005eb6;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h3 style="text-align: center; margin-top: 20px;">PdmV ReReco UL table - Run3</h3>
      <div style="text-align:center;">
        <a href="https://pdmv-pages.web.cern.ch/">PdmV pages</a> | <a href="../rereco_ul/index.html"><i style="color: purple">Run 2</i> table</a> | <a href="full_table.html"><i style="color: red">Full</i> table</a>
      </div>
      <div style="text-align: center; margin: 8px;">
        <!-- Checkboxes  -->
        <input
          type="checkbox"
          :checked="columns.primary_dataset"
          @input="columns.primary_dataset = $event.target.checked"
        /> Primary dataset
        <input
          type="checkbox"
          :checked="columns.aod"
          @input="columns.aod = $event.target.checked"
        /> AOD
        <input
          type="checkbox"
          :checked="columns.miniaod_v3"
          @input="columns.miniaod_v3 = $event.target.checked"
        /> MiniAODv3
        <input
          type="checkbox"
          :checked="columns.nanoaod_v10"
          @input="columns.nanoaod_v10 = $event.target.checked"
        /> NanoAODv10
        <input
          type="checkbox"
          :checked="columns.produced_expected"
          @input="columns.produced_expected = $event.target.checked"
        /> Produced/Expected
        <br>
        Updated: {{lastUpdate}}
      </div>
      <table>
        <!-- Table columns  -->
        <tr>
          <th rowspan=2 :class="sortOn == 'year' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('year')">
              Year
            </span>
          </th>
          <th rowspan=2 :class="sortOn == 'input_dataset' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('input_dataset')">
              RAW dataset
            </span>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.input_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.primary_dataset" rowspan=2 :class="sortOn == 'primary_dataset' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('primary_dataset')">
              Primary dataset
            </span>
          </th>
          <th v-if="columns.aod" :colspan="columns.produced_expected ? 2 : 1">
            AOD
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.aod_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.miniaod_v3" :colspan="columns.produced_expected ? 2 : 1">
            MiniAODv3
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.miniaod_v3_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.nanoaod_v10" :colspan="columns.produced_expected ? 2 : 1">
            NanoAODv10
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.nanoaod_v10_dataset" @input="applyFilters()">
          </th>
        </tr>
        <tr>
          <template v-if="columns.aod">
            <th :class="sortOn == 'aod_dataset' || sortOn == 'aod_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('aod_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('aod_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'aod_produced_vs_parent_ratio' || sortOn == 'aod_events'  ? 'sorted-by' : ''" v-if="columns.produced_expected">
              <span class="sort" @click="changeSortToColumn('aod_produced_vs_parent_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('aod_events')">Produced events</small>
            </th>
          </template>
          <template v-if="columns.miniaod_v3">
            <th :class="sortOn == 'miniaod_v3_dataset' || sortOn == 'miniaod_v3_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v3_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v3_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'miniaod_v3_produced_vs_parent_ratio' || sortOn == 'miniaod_v3_events'  ? 'sorted-by' : ''" v-if="columns.produced_expected">
              <span class="sort" @click="changeSortToColumn('miniaod_v3_produced_vs_parent_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v3_events')">Produced events</small>
            </th>
          </template>
          <template v-if="columns.nanoaod_v10">
            <th :class="sortOn == 'nanoaod_v10_dataset' || sortOn == 'nanoaod_v10_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('nanoaod_v10_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('nanoaod_v10_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'nanoaod_v10_produced_vs_parent_ratio' || sortOn == 'nanoaod_v10_events'  ? 'sorted-by' : ''" v-if="columns.produced_expected">
              <span class="sort" @click="changeSortToColumn('nanoaod_v10_produced_vs_parent_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('nanoaod_v10_events')">Produced events</small>
            </th>
          </template>
        </tr>
        <tr v-for="row in rows">
          <td>{{row.year}}</td>
          <td><a target="_blank" :href="makeDASLink(row.input_dataset)">{{row.input_dataset}}</a><br><small>{{row.raw_runs}} runs {{row.raw_events}} events</small></td>
          <td v-if="columns.primary_dataset">{{row.primary_dataset}}</td>
          <!-- AOD Rows cells -->
          <template v-if="columns.aod">
            <td :class="row['aod_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['aod_dataset'])">{{row['aod_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['aod_prepid'])">{{row['aod_prepid']}}</a></small>
            </td>
            <template v-if="row['aod_dataset']">
              <td v-if="columns.produced_expected">
                {{row['aod_produced_vs_parent_ratio']}}
                <br>
                <small>{{row['aod_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td v-if="columns.produced_expected"></td>
            </template>
          </template>
          <!-- MINIAOD v3 Rows cells -->
          <template v-if="columns.miniaod_v3">
            <td :class="row['miniaod_v3_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['miniaod_v3_dataset'])">{{row['miniaod_v3_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['miniaod_v3_prepid'])">{{row['miniaod_v3_prepid']}}</a></small>
            </td>
            <template v-if="row['miniaod_v3_dataset']">
              <td v-if="columns.produced_expected">
                {{row['miniaod_v3_produced_vs_parent_ratio']}}
                <br>
                <small>{{row['miniaod_v3_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td v-if="columns.produced_expected"></td>
            </template>
          </template>
          <!-- NanoAOD v10 Rows cells -->
          <template v-if="columns.nanoaod_v10">
            <td :class="row['nanoaod_v10_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['nanoaod_v10_dataset'])">{{row['nanoaod_v10_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['nanoaod_v10_prepid'])">{{row['nanoaod_v10_prepid']}}</a></small>
            </td>
            <template v-if="row['nanoaod_v10_dataset']">
              <td v-if="columns.produced_expected">
                {{row['nanoaod_v10_produced_vs_parent_ratio']}}
                <br>
                <small>{{row['nanoaod_v10_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td v-if="columns.produced_expected"></td>
            </template>
          </template>
        </tr>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          data: [],
          rows: [],
          sortOn: 'year',
          sortOrder: 1,
          prefixes: ['aod', 'miniaod_v3', 'nanoaod_v10'],
          search: {
            input_dataset: undefined,
            aod_dataset: undefined,
            miniaod_v3_dataset: undefined,
            nanoaod_v10_dataset: undefined,
          },
          columns: {
            primary_dataset: true,
            diff_produced_vs_parent: true,
            produced_expected: true,
            aod: true,
            miniaod_v3: false,
            nanoaod_v10: false,
          },
          lastUpdate: undefined,
        },
        created (){
          let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
          this.search.input_dataset = urlParams.input_dataset;
          this.search.aod_dataset = urlParams.aod_dataset;
          this.search.miniaod_v3_dataset = urlParams.miniaod_v3_dataset;
          this.search.nanoaod_v10_dataset = urlParams.nanoaod_v10_dataset;

          this.sortOn = urlParams.sort_on || 'year';
          this.sortOrder = parseInt(urlParams.sort_order || 1);

          const component = this;
          $.get( "output/data_original_table.json", function( data ) {
            component.data = data;
            component.applyFilters();
            component.rows = component.rows.sort(component.sortComparator);
          }).fail(function(err) {
            alert("Error getting data: " + err.statusText);
          });
          $.get( "output/original_table_timestamp.txt", function( data ) {
            component.lastUpdate = data;
          });
        },
        methods: {
          sortComparator: function(a, b) {
            if (a[this.sortOn] === null && b[this.sortOn] === null) {
              return 0;
            }
            // nulls go at the end
            if (a[this.sortOn] === null) {
              return 1; //this.sortOrder;
            }
            if (b[this.sortOn] === null) {
              return -1; //-this.sortOrder;
            }
            // Compare normal values
            if (a[this.sortOn] < b[this.sortOn]) {
              return -this.sortOrder;
            }
            if (a[this.sortOn] > b[this.sortOn]) {
              return this.sortOrder;
            }
            return a['input_dataset'] > b['input_dataset'] ? this.sortOrder : -this.sortOrder;
          },
          changeSortToColumn: function(column) {
            if (column == this.sortOn) {
                this.sortOrder *= -1;
            } else {
                this.sortOn = column;
                this.sortOrder = 1;
            }
            this.rows = this.rows.sort(this.sortComparator);
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            if (this.sortOrder != 1) {
              urlParams['sort_order'] = this.sortOrder;
            } else {
              delete urlParams['sort_order'];
            }
            if (this.sortOn != 'year') {
              urlParams['sort_on'] = this.sortOn;
            } else {
              delete urlParams['sort_on'];
            }
            this.replaceQuery(urlParams);
          },
          applyFilters: function() {
            let filteredRows = this.data;
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            for (let attribute in this.search) {
              if (this.search[attribute]) {
                let negate = false;
                let pattern = this.search[attribute];
                if (pattern == '-' || pattern == '!') {
                  continue
                }
                if (pattern[0] == '-' || pattern[0] == '!') {
                  negate = true;
                  pattern = pattern.substring(1);
                  this.search[attribute] = '!' + pattern;
                }
                pattern = pattern.replace(/\.\*/g, '*').replace(/ /g, '*').replace(/\*/g, '.*');
                const regex = RegExp(pattern, 'i'); // 'i' for case insensitivity
                const filterFunc = function(entry) {
                  const value = entry[attribute];
                  if (value == undefined || value == '') {
                    // If negating, empty value should be shown
                    return negate;
                  }
                  return regex.test(value) ^ negate;
                }
                filteredRows = filteredRows.filter(filterFunc);
                urlParams[attribute] = this.search[attribute];
              } else {
                delete urlParams[attribute]
              }
            }
            this.rows = filteredRows;
            this.replaceQuery(urlParams);
          },
          replaceQuery: function(urlParams) {
            let urlQuery = new URLSearchParams(urlParams).toString();
            if (urlQuery) {
              urlQuery = '?' + urlQuery;
              urlQuery = decodeURI(urlQuery);
            }
            let newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + urlQuery;
            window.history.replaceState({path: newUrl}, '', newUrl);
          },
          makeDASLink(dataset) {
            return 'https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D' + dataset;
          },
          makeDimaLink(prepid) {
            return 'https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=' + prepid;
          }
        }
      })
    </script>
  </body>
</html>
