<html>
  <head>
    <title>PdmV ReReco UL - Run3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="assets/pdmv.png" />
    <style>
      body {
        background: #fafafa;
      }
      td, th {
        border: 1px #aaa solid;
        padding: 2px 4px;
        font-size: 0.9em;
        text-align: center;
        white-space: nowrap;
      }
      th {
        text-align: center;
        background: #eee;
      }
      tr {
        height: 30px;
        background: white;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        border-collapse: collapse;
      }
      .sort {
        cursor: pointer;
      }
      input {
        width: 98%;
        margin: auto;
        margin-bottom: 2px;
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
      }
      input[type=checkbox] {
        width: unset;
      }
      .sorted-by {
        background: #c8c8c8;
      }
      .orange-cell {
        background: #ffb732;
      }
      .green-cell {
        background: #bae0ce;
      }
      .light-green-cell {
        background: #fce8b2;
      }
      .light-red-cell {
        background: #f2c7c4;
      }
      a {
        color: #005eb6;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h3 style="text-align: center; margin-top: 20px;">PdmV Run3 DATA <i style="color: red">full</i> table - Production</h3>
      <div style="text-align:center;">
        <a href="https://pdmv-pages.web.cern.ch/">PdmV pages</a> | <a href="../rereco_ul/full_table.html"><i style="color: purple">Run 2</i> table</a> | <a href="index.html">User table</a>
      </div>
      <div style="text-align: center; margin: 8px;">
        Campaigns:
        <template v-for="(_, campaign) in campaigns">
          <input
            type="checkbox"
            :checked="campaigns[campaign]"
            @input="campaigns[campaign] = $event.target.checked; applyFilters()"
          /> {{campaign}}
        </template>
        <br>
        Columns:
        <!-- Whitelist section disabled
        <input type="checkbox" :checked="columns.raw_x_dcs_runs" @input="columns.raw_x_dcs_runs = $event.target.checked; applyFilters()"/> RAW x DCS runs
        <input type="checkbox" :checked="columns.whitelist_x_raw_runs" @input="columns.whitelist_x_raw_runs = $event.target.checked; applyFilters()"/> Whitelist x RAW runs
        <input type="checkbox" :checked="columns.whitelist_x_raw_x_dcs_runs" @input="columns.whitelist_x_raw_x_dcs_runs = $event.target.checked; applyFilters()"/> Whitelist x RAW x DCS runs
        -->
        <input type="checkbox" :checked="columns.aod" @input="columns.aod = $event.target.checked; applyFilters()"/> AOD
        <input type="checkbox" :checked="columns.miniaod" @input="columns.miniaod = $event.target.checked; applyFilters()"/> MiniAOD
        <input type="checkbox" :checked="columns.nanoaod" @input="columns.nanoaod = $event.target.checked; applyFilters()"/> NanoAOD
        <input type="checkbox" :checked="columns.fraction" @input="columns.fraction = $event.target.checked; applyFilters()"/> Events & Fraction
        <!-- Disable difference column
        <input type="checkbox" :checked="columns.diff_to_parent" @input="columns.diff_to_parent = $event.target.checked; applyFilters()"/> Diff to parent
        -->
        <br>
        Updated: {{lastUpdate}}
      </div>
      <table>
        <tr>
          <th rowspan="2">
            <span class="sort" @click="changeSortToColumn('year')">Year</span>
          </th>
          <th rowspan="2">
            <span class="sort" @click="changeSortToColumn('raw_dataset')">RAW dataset</span>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.dataset" @input="applyFilters()">
          </th>
          <th rowspan="2" v-if="columns.raw_x_dcs_runs">
            RAW x DCS runs
            <br>
            <small>RAW x DCS events</small>
            <br>
            <i>Expected</i>
          </th>
          <th rowspan="2" v-if="columns.whitelist_x_raw_runs">
            Whitelist x RAW runs
            <br>
            <small>Whitelist x RAW events</small>
          </th>
          <th rowspan="2" v-if="columns.whitelist_x_raw_x_dcs_runs">
            Whitelist x RAW x DCS runs
            <br>
            <small>Whitelist x RAW x DCS events</small>
          </th>
          <th :colspan="columns.fraction && columns.diff_to_parent ? 3 : columns.fraction || columns.diff_to_parent ? 2 : 1" v-if="columns.aod">
            AOD
          </th>
          <th :colspan="columns.fraction && columns.diff_to_parent ? 3 : columns.fraction || columns.diff_to_parent ? 2 : 1" v-if="columns.miniaod">
            MiniAOD
          </th>
          <th :colspan="columns.fraction && columns.diff_to_parent ? 3 : columns.fraction || columns.diff_to_parent ? 2 : 1" v-if="columns.nanoaod">
            NanoAOD
          </th>
        </tr>
        <tr>
          <th v-if="columns.aod">
            <small>PrepID</small>
            <br>
            <span class="sort" @click="changeSortToColumn('aod_dataset')">Dataset</span>
            <br>
            <small>Runs | events | processing string | campaign</small>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.aod_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.aod && columns.fraction">
            <span class="sort" @click="changeSortToColumn('aod_fraction')">Events</span>
            <br>
            <small>Fraction</small>
            <br>
            <small>Fraction - 1</small>
          </th>
          <th v-if="columns.aod && columns.diff_to_parent">Diff to RAW x DCS</th>
          <th v-if="columns.miniaod">
            <small>PrepID</small>
            <br>
            <span class="sort" @click="changeSortToColumn('miniaod_dataset')">Dataset</span>
            <br>
            <small>Runs | events | processing string | campaign</small>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.miniaod_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.miniaod && columns.fraction">
            <span class="sort" @click="changeSortToColumn('miniaod_fraction')">Events</span>
            <br>
            <small>Fraction</small>
            <br>
            <small>Fraction - 1</small>
          </th>
          <th v-if="columns.miniaod && columns.diff_to_parent">Diff to AOD</th>
          <th v-if="columns.nanoaod">
            <small>PrepID</small>
            <br>
            <span class="sort" @click="changeSortToColumn('nanoaod_dataset')">Dataset</span>
            <br>
            <small>Runs | events | processing string | campaign</small>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.nanoaod_dataset" @input="applyFilters()">
          </th>
          <th v-if="columns.nanoaod && columns.fraction">
            <span class="sort" @click="changeSortToColumn('nanoaod_fraction')">Events</span>
            <br>
            <small>Fraction</small>
            <br>
            <small>Fraction - 1</small>
          </th>
          <th v-if="columns.nanoaod && columns.diff_to_parent">Diff to MiniAOD</th>
        </tr>
        <tr v-for="row in rows">
          <template v-for="(item, index) in row">
            <template v-if="item.year && item.rowspan">
              <td :rowspan="item.rowspan">
                {{item.year}}
              </td>
              <td :rowspan="item.rowspan">
                <a target="_blank" :href="makeDASLink(item.dataset)">{{item.dataset}}</a>
                <br>
                <small><ion-icon name="eye-outline" @click="checkDisplayRuns(item.dataset)"></ion-icon> {{item.runs.length}}&nbsp;runs | {{item.events}}&nbsp;events</small>
                <!-- Display runs for RAW dataset -->
                <div v-if="item.dataset === displayRuns.RAW" class="row">
                  <template v-for="run in item.runs">
                      <div class="col">{{run}}</div>
                  </template>
                </div>
              </td>
            </template>
            <template v-if="!item.year && item.rowspan">
              <template v-if="item.whitelist_x_raw_runs != undefined">
                <td :rowspan="item.rowspan" v-if="columns.raw_x_dcs_runs">
                  {{item.raw_x_dcs_runs}} runs<br><small>{{item.raw_x_dcs_events}} events</small>
                  <br><small>Whitelist: {{item.whitelist_type}}</small>
                </td>
                <td :rowspan="item.rowspan" v-if="columns.whitelist_x_raw_runs">
                  {{item.whitelist_x_raw_runs}} runs<br><small>{{item.whitelist_x_raw_events}} events</small>
                  <template v-if="item.whitelist_x_raw_and_raw_x_dcs_surplus_runs">
                    <br>
                    <small style="color: green">+{{item.whitelist_x_raw_and_raw_x_dcs_surplus_runs}} runs</small>
                  </template>
                  <template v-if="item.whitelist_x_raw_and_raw_x_dcs_missing_runs">
                    <br>
                    <small style="color: red">-{{item.whitelist_x_raw_and_raw_x_dcs_missing_runs}} runs</small>
                  </template>
                  <template v-if="item.whitelist_x_raw_and_raw_x_dcs_events_diff > 0">
                    <br>
                    <small style="color: green">+{{item.whitelist_x_raw_and_raw_x_dcs_events_diff}} events</small>
                  </template>
                  <template v-if="item.whitelist_x_raw_and_raw_x_dcs_events_diff < 0">
                    <br>
                    <small style="color: red">{{item.whitelist_x_raw_and_raw_x_dcs_events_diff}} events</small>
                  </template>
                </td>
                <td :rowspan="item.rowspan" v-if="columns.whitelist_x_raw_x_dcs_runs">
                  {{item.whitelist_x_raw_x_dcs_runs}} runs<br><small>{{item.whitelist_x_raw_x_dcs_events}} events</small>
                  <template v-if="item.whitelist_x_dcs_and_raw_x_dcs_surplus_runs">
                    <br>
                    <small style="color: green">+{{item.whitelist_x_dcs_and_raw_x_dcs_surplus_runs}} runs</small>
                  </template>
                  <template v-if="item.whitelist_x_dcs_and_raw_x_dcs_missing_runs">
                    <br>
                    <small style="color: red">-{{item.whitelist_x_dcs_and_raw_x_dcs_missing_runs}} runs</small>
                  </template>
                  <template v-if="item.whitelist_x_dcs_and_raw_x_dcs_events_diff > 0">
                    <br>
                    <small style="color: green">+{{item.whitelist_x_dcs_and_raw_x_dcs_events_diff}} events</small>
                  </template>
                  <template v-if="item.whitelist_x_dcs_and_raw_x_dcs_events_diff < 0">
                    <br>
                    <small style="color: red">{{item.whitelist_x_dcs_and_raw_x_dcs_events_diff}} events</small>
                  </template>
                </td>
              </template>
              <td :rowspan="item.rowspan" :class="cellColor(item)" v-if="index == 1 && columns.aod || index == 2 && columns.miniaod || index == 3 && columns.nanoaod">
                <small><a target="_blank" :href="makeStatsLink(item.prepid)">{{item.prepid}}</a></small>
                <br>
                <a target="_blank" :href="makeDASLink(item.dataset)">{{item.dataset}}</a>
                <br>
                <small><ion-icon name="eye-outline" @click="checkDisplayRuns(item.dataset)"></ion-icon> {{item.runs.length}}&nbsp;runs {{item.processing_string}} | {{item.campaign}}</small>
                <!-- Display runs for AOD, MINIAOD or NANOAOD dataset -->
                <div v-if="item.dataset === displayRuns.AOD || item.dataset === displayRuns.MINIAOD || item.dataset === displayRuns.NANOAOD" class="row">
                  <template v-for="run in item.runs">
                      <div class="col">{{run}}</div>
                  </template>
                </div>
              </td>
              <td :rowspan="item.rowspan" :class="cellColor(item)" v-if="columns.fraction && (index == 1 && columns.aod || index == 2 && columns.miniaod || index == 3 && columns.nanoaod)">
                {{item.events}}
                <template>
                  <br>
                  <small style="color: blue">{{(+item.fraction).toFixed(8)}}</small>
                </template>
                <template v-if="item.fraction < 1">
                  <br>
                  <small style="color: red">{{(item.fraction - 1).toFixed(8)}}</small>
                </template>
                <template v-if="item.fraction > 1">
                  <br>
                  <small style="color: green">+{{(item.fraction - 1).toFixed(8)}}</small>
                </template>
              </td>
              <td :rowspan="item.rowspan" :class="cellColor(item)" v-if="columns.diff_to_parent && (index == 1 && columns.aod || index == 2 && columns.miniaod || index == 3 && columns.nanoaod)">
                <template v-if="item.missing_runs">
                  -{{item.missing_runs}} runs<br>
                </template>
                <template v-if="item.surplus_runs">
                  +{{item.surplus_runs}} runs<br>
                </template>
                <template v-if="item.events_difference < 0">
                  -{{-item.events_difference}} events
                </template>
                <template v-if="item.events_difference > 0">
                  +{{item.events_difference}} events
                </template>
              </td>
            </template>
          </template>
        </tr>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          data: [],
          rows: [],
          sortOn: 'year',
          sortOrder: 1,
          campaigns: {},
          displayRuns: {
            RAW: "",
            AOD: "",
            MINIAOD: "",
            NANOAOD: ""
          }, // We're going to use this as a prop for component.
          columns: {
            raw_x_dcs_runs: false, // Disable by default for Run3
            whitelist_x_raw_runs: false, // Disable by default for Run3
            whitelist_x_raw_x_dcs_runs: false, // Disable by default for Run3
            aod: true,
            miniaod: true,
            nanoaod: true,
            fraction: true,
            diff_to_parent: false // Disable by default for Run3
          },
          search: {
            dataset: undefined,
            aod_dataset: undefined,
            miniaod_dataset: undefined,
            nanoaod_dataset: undefined,
          },
          lastUpdate: undefined,
        },
        created (){
          let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
          this.search.dataset = urlParams.dataset;
          this.search.aod_dataset = urlParams.aod_dataset;
          this.search.miniaod_dataset = urlParams.miniaod_dataset;
          this.search.nanoaod_dataset = urlParams.nanoaod_dataset;
          this.sortOn = urlParams.sort_on || 'year';
          this.sortOrder = parseInt(urlParams.sort_order || 1);

          const component = this;
          $.get( "output/data_full_table.json", function( data ) {
            data.forEach(element => {
              element.forEach(item => {
                if (item.fraction) {
                  // Up to 8 decimal digits
                  item.fraction = parseFloat(item.fraction.toFixed(8)).toString();
                }
                if (item.campaign && !(item.campaign in component.campaigns)) {
                  component.campaigns[item.campaign] = true;
                }
              });
            });
            component.data = data;
            component.applyFilters();
          }).fail(function(err) {
            alert("Error getting data: " + err.statusText);
          });
          $.get( "output/original_table_timestamp.txt", function( data ) {
            component.lastUpdate = data;
          });
        },
        methods: {
          checkDisplayRuns: function (datasetName) {
            // Valid Datatiers
            const validDatatiers = [
                "RAW", "AOD", "MINIAOD", "NANOAOD"
            ];

            let datatierSplit = datasetName.split("/")
            let datatier = datatierSplit[datatierSplit.length - 1].trim()
            if (!validDatatiers.includes(datatier)) {
              console.error("Datatier: " + datatier + " does not match with any of the columns of this table")
              return
            }

            // Check if the element exist
            if (this.displayRuns[datatier] === datasetName) {
              this.displayRuns[datatier] = "";
            }
            else {
              // Add it
              this.displayRuns[datatier] = datasetName;
            }
          },
          sortComparator: function(a, b) {
            let itemA = a[0];
            let itemB = b[0];
            if (this.sortOn == 'year') {
              itemA = a[0] ? a[0]['year'] : null;
              itemB = b[0] ? b[0]['year'] : null;
            } else if (this.sortOn == 'aod_dataset' || this.sortOn == 'miniaod_dataset' || this.sortOn == 'nanoaod_dataset') {
              let index = {'aod_dataset': 1, 'miniaod_dataset': 2, 'nanoaod_dataset': 3}[this.sortOn];
              itemA = a[index] ? a[index]['dataset'] : null;
              itemB = b[index] ? b[index]['dataset'] : null;
            } else if (this.sortOn == 'aod_fraction' || this.sortOn == 'miniaod_fraction' || this.sortOn == 'nanoaod_fraction') {
              let index = {'aod_fraction': 1, 'miniaod_fraction': 2, 'nanoaod_fraction': 3}[this.sortOn];
              itemA = a[index] ? a[index]['fraction'] : null;
              itemB = b[index] ? b[index]['fraction'] : null;
            }
            if (itemA === null && itemB === null) {
              return 0;
            }
            // nulls go at the end
            if (itemA === null) {
              return 1; //this.sortOrder;
            }
            if (itemB === null) {
              return -1; //-this.sortOrder;
            }
            // Compare normal values
            if (itemA < itemB) {
              return -this.sortOrder;
            }
            if (itemA > itemB) {
              return this.sortOrder;
            }
            return a[0]['dataset'] > b[0]['dataset'] ? this.sortOrder : -this.sortOrder;
          },
          changeSortToColumn: function(column) {
            if (column == this.sortOn) {
                this.sortOrder *= -1;
            } else {
                this.sortOn = column;
                this.sortOrder = 1;
            }
            let sortedRows = this.rows.sort(this.sortComparator);
            this.mergeCells(sortedRows);
            this.rows = sortedRows;
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            if (this.sortOrder != 1) {
              urlParams['sort_order'] = this.sortOrder;
            } else {
              delete urlParams['sort_order'];
            }
            if (this.sortOn != 'year') {
              urlParams['sort_on'] = this.sortOn;
            } else {
              delete urlParams['sort_on'];
            }
            this.replaceQuery(urlParams);
          },
          mergeCells: function(list) {
            list.forEach(row => {
              for (let item of row) {
                item.rowspan = 1;
              }
            });
          },
          applyFilters: function() {
            let filteredRows = this.data;
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            for (let attribute in this.search) {
              if (this.search[attribute]) {
                let negate = false;
                let pattern = this.search[attribute];
                if (pattern == '-' || pattern == '!') {
                  continue
                }
                if (pattern[0] == '-' || pattern[0] == '!') {
                  negate = true;
                  pattern = pattern.substring(1);
                  this.search[attribute] = '!' + pattern;
                }
                let entryIndex = 0;
                let entryAttribute = attribute;
                if (attribute == 'aod_dataset' || attribute == 'miniaod_dataset' || attribute == 'nanoaod_dataset') {
                  entryIndex = {'aod_dataset': 1, 'miniaod_dataset': 2, 'nanoaod_dataset': 3}[attribute];
                  entryAttribute = 'dataset';
                }
                pattern = pattern.replace(/\.\*/g, '*').replace(/ /g, '*').replace(/\*/g, '.*');
                const regex = RegExp(pattern, 'i'); // 'i' for case insensitivity
                const filterFunc = function(entry) {
                  if (entry.length <= entryIndex) {
                    // If negating, empty value should be shown
                    return negate;
                  }
                  const value = entry[entryIndex][entryAttribute];
                  return value != '' && (regex.test(value) ^ negate);
                }
                filteredRows = filteredRows.filter(filterFunc);
                urlParams[attribute] = this.search[attribute];
              } else {
                delete urlParams[attribute]
              }
            }
            const component = this;
            filteredRows = filteredRows.filter(element => element.filter(item => item.campaign && component.campaigns[item.campaign] === false).length == 0);
            // Keep at least one row fow each RAW, even if it's empty
            // If there are more than one row for a certain RAW, empty rows can be deleted
            filteredRows = filteredRows.filter((element, index) => index == 0 || element.length > 1 || filteredRows[index - 1][0].dataset != element[0].dataset);
            this.mergeCells(filteredRows);
            this.rows = filteredRows;
            this.replaceQuery(urlParams);
          },
          replaceQuery: function(urlParams) {
            let urlQuery = new URLSearchParams(urlParams).toString();
            if (urlQuery) {
              urlQuery = '?' + urlQuery;
              urlQuery = decodeURI(urlQuery);
            }
            let newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + urlQuery;
            window.history.replaceState({path: newUrl}, '', newUrl);
          },
          makeDASLink(dataset) {
            return 'https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D' + dataset;
          },
          makeStatsLink(prepid) {
            return 'https://cms-pdmv.cern.ch/stats?prepid=' + prepid;
          },
          cellColor(item) {
            if (item.type == 'PRODUCTION') {
              return 'orange-cell';
            }
            if (item.fraction == 1) {
              return 'green-cell';
            }
            if (item.fraction < 1 && item.fraction >= 0.999) {
              return 'light-green-cell';
            }
            return 'light-red-cell';
          },
        }
      })
    </script>
  </body>
</html>
