<html>
  <head>
    <title>Staging workflows</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="pdmv.png" />
    <style>
      body {
        background: #fafafa;
      }
      td, th {
        border: 1px #aaa solid;
        padding: 2px 4px;
        font-size: 0.9em;
        text-align: center;
        white-space: nowrap;
      }
      th {
        text-align: center;
        background: #eee;
      }
      tr {
        height: 30px;
        background: white;
      }
      tr:hover {
        background: #eee !important;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        border-collapse: collapse;
      }
      .sort {
        cursor: pointer;
      }
      input {
        width: 98%;
        margin: auto;
        margin-bottom: 2px;
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
      }
      .sorted-by {
        background: #c8c8c8;
      }
      a {
        color: #005eb6;
      }
      ol {
        text-align: left;
      }
      .rule-state {
        cursor: pointer;
        font-weight: 700;
      }
      .rule-state-OK {
        color: #009432;
      }
      .rule-state-REPLICATING {
        color: #fbc531;
      }
      .rule-state-STUCK {
        color: red;
      }
      .rule-state-SUSPENDED {
        color: #7f8fa6;
      }

      /* Row number in table */
      tbody tr {
        counter-increment: rowNumber;
      }
      tbody tr td:first-child::before {
        content: counter(rowNumber) ". ";
        min-width: 1em;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h3 style="text-align: center; margin-top: 20px;">Staging workflows</h3>
      <div style="text-align:center;">
        <a href="https://pdmv-pages.web.cern.ch/">PdmV pages</a>
      </div>
      <div style="text-align: center; margin: 8px;">
        Updated: {{lastUpdate}}
      </div>
      <table>
        <tr>
          <th></th>
          <th :class="sortOn == 'workflow' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('workflow')">
              Workflow
            </span>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.workflow" @input="applyFilters()">
          </th>
          <th :class="sortOn == 'dataset' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('dataset')">
              Dataset
            </span>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.dataset" @input="applyFilters()">
          </th>
          <th :class="sortOn == 'last_completion' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('last_completion')">
              Completion
            </span>
          </th>
          <th :class="sortOn == 'transfers' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('transfers')">
              Transfers
            </span>
          </th>
          <th>
            Rucio rules
          </th>
          <th :class="sortOn == 'time_in_staging' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('time_in_staging')">
              Staging for
            </span>
          </th>
          <th :class="sortOn == 'stuck_time' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('stuck_time')">
              "Stuck" for
            </span>
          </th>
          <th :class="sortOn == 'speed' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('speed')">
              Speed
            </span>
          </th>
          <th :class="sortOn == 'eta' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('eta')">
              ETA
            </span>
          </th>
        </tr>
        <tbody>
          <tr v-for="row in rows">
            <td></td>
            <td><a target="_blank" :href="makeStatsLink(row.workflow)">{{row.workflow}}</a></td>
            <td style="max-width: 300px; white-space: normal; word-break: break-all;">
              <a target="_blank" :href="makeDASSiteLink(row.dataset)">
                <small>{{row.dataset}}</small>
              </a>
              <small v-if="row.datatype != 'primary'">
                <br>
                ({{row.datatype}})
              </small>
            </td>
            <td><template v-if="row.first_completion > 0">{{row.first_completion}}% &#8594; </template><a target="_blank" :href="makeTransferorLink(row.workflow)">{{row.last_completion}}%</a></td>
            <td>{{row.transfers}}</td>
            <td>
              <template v-for="state in ['OK', 'REPLICATING', 'STUCK', 'SUSPENDED']" :key="state">
                <b v-if="row.rucio_rules[state].length"
                   :class="'rule-state rule-state-' + state"
                   :title="'Toggle ' + state + ' list'"
                   @click="toggleRules(row, state)">{{state}}: {{row.rucio_rules[state].length}}<br></b>
                <ol v-if="row.rucio_rules_visible[state]">
                  <li v-for="rule in row.rucio_rules[state]">
                    <a :href="'https://cms-rucio-webui.cern.ch/rule?rule_id=' + rule" target="_blank" title="Open rule in Rucio">{{rule}}</a>
                  </li>
                </ol>
              </template>
            </td>
            <td>{{niceTime(row.time_in_staging)}}</td>
            <td>{{niceTime(row.stuck_time)}}</td>
            <td>{{row.speed}}%/day</td>
            <td>
              <template v-if="row.eta != Infinity && row.last_completion != 100">
                {{niceTime(row.eta)}}
              </template>
              <template v-else-if="row.last_completion == 100">
                Done &#x1F44D;
              </template>
              <template v-else>
                Never &#x1F480;
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          data: [],
          rows: [],
          defaultSortOn: 'workflow',
          sortOn: undefined,
          sortOrder: 1,
          search: {
            workflow: undefined,
            dataset: undefined,
          },
          lastUpdate: undefined,
        },
        created (){
          let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
          for (let key in this.search) {
            this.search[key] = urlParams[key];
          }
          this.sortOn = urlParams.sort_on || this.defaultSortOn;
          this.sortOrder = parseInt(urlParams.sort_order || 1);

          const component = this;
          $.get( "data.json", function( data ) {
            data.forEach(element => {
              element.eta = element.eta == 0 ? Infinity : element.eta;
              element.rucio_rules_visible = {'OK': false, 'REPLICATING': false, 'STUCK': false, 'SUSPENDED': false}
            });
            component.data = data;
            component.applyFilters();
            component.rows = component.rows.sort(component.sortComparator);
          });
          $.get( "update_timestamp.txt", function( data ) {
            component.lastUpdate = data;
          });
        },
        methods: {
          sortComparator: function(a, b) {
            if (a[this.sortOn] === null && b[this.sortOn] === null) {
              return 0;
            }
            // nulls go at the end
            if (a[this.sortOn] === null) {
              return 1; //this.sortOrder;
            }
            if (b[this.sortOn] === null) {
              return -1; //-this.sortOrder;
            }
            // Compare normal values
            if (a[this.sortOn] < b[this.sortOn]) {
              return -this.sortOrder;
            }
            if (a[this.sortOn] > b[this.sortOn]) {
              return this.sortOrder;
            }
            return a[this.defaultSortOn] > b[this.defaultSortOn] ? this.sortOrder : -this.sortOrder;
          },
          changeSortToColumn: function(column) {
            if (column == this.sortOn) {
                this.sortOrder *= -1;
            } else {
                this.sortOn = column;
                this.sortOrder = 1;
            }
            this.rows = this.rows.sort(this.sortComparator);
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            if (this.sortOrder != 1) {
              urlParams['sort_order'] = this.sortOrder;
            } else {
              delete urlParams['sort_order'];
            }
            if (this.sortOn != this.defaultSortOn) {
              urlParams['sort_on'] = this.sortOn;
            } else {
              delete urlParams['sort_on'];
            }
            this.replaceQuery(urlParams);
          },
          applyFilters: function() {
            let filteredRows = this.data;
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            for (let attribute in this.search) {
              if (this.search[attribute]) {
                let negate = false;
                let pattern = this.search[attribute];
                if (pattern == '-' || pattern == '!') {
                  continue
                }
                if (pattern[0] == '-' || pattern[0] == '!') {
                  negate = true;
                  pattern = pattern.substring(1);
                  this.search[attribute] = '!' + pattern;
                }
                pattern = pattern.replace(/\.\*/g, '*').replace(/ /g, '*').replace(/\*/g, '.*');
                const regex = RegExp(pattern, 'i'); // 'i' for case insensitivity
                const filterFunc = function(entry) {
                  const value = entry[attribute];
                  if (value == undefined || value == '') {
                    // If negating, empty value should be shown
                    return negate;
                  }
                  return regex.test(value) ^ negate;
                }
                filteredRows = filteredRows.filter(filterFunc);
                urlParams[attribute] = this.search[attribute];
              } else {
                delete urlParams[attribute]
              }
            }
            this.rows = filteredRows;
            this.replaceQuery(urlParams);
          },
          replaceQuery: function(urlParams) {
            let urlQuery = new URLSearchParams(urlParams).toString();
            if (urlQuery) {
              urlQuery = '?' + urlQuery;
              urlQuery = decodeURI(urlQuery);
            }
            let newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + urlQuery;
            window.history.replaceState({path: newUrl}, '', newUrl);
          },
          niceTime: function(seconds) {
            days = parseInt(seconds / 86400)
            seconds -= days * 86400
            hours = parseInt(seconds / 3600)
            if (days) {
              return days + 'd ' + hours + 'h'
            }
            seconds -= hours * 3600
            minutes = parseInt(seconds / 60)
            if (hours) {
              return hours + 'h ' + minutes + 'min'
            }

            if (minutes) {
              return minutes + 'min'
            }

            seconds -= minutes * 60
            return Math.round(seconds) + 's'
          },
          makeStatsLink(workflow) {
            return 'https://cms-pdmv.cern.ch/stats?workflow_name=' + workflow;
          },
          makeDASSiteLink(dataset) {
            return 'https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=site+dataset%3D' + dataset;
          },
          makeTransferorLink(workflow) {
            return 'https://cmsweb.cern.ch/ms-transferor/data/info?request=' + workflow;
          },
          toggleRules: function(entry, state) {
            entry.rucio_rules_visible[state] = !entry.rucio_rules_visible[state];
          }
        }
      })
    </script>
  </body>
</html>
